<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigation">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/upload-clock}">Subir Reloj</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/justification}">Ingresar Justificación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/approval}">Ingresar Aprobación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/wage}">Planillas Sueldos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/wage/search}">Buscar Sueldo</a>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>