<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Ingresar Aprovación</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <div class="container mt-5 mb-5">
        <h5 class="fw-bold mb-2">Ingresar aprobación</h5>
        <form action="#" th:action="@{/approval/}" th:object="${approval}" method="post">
            <div class="mb-3 mt-3">
                <label for="rut">Rut Empleado</label>
                <input required type="text" name="rut" class="form-control" id="rut" placeholder="Ingresa rut del empleado"/>
            </div>
            <div th:if="${error}">
                <div class="text-danger" th:text="${error}"></div>
            </div>

            <div class="mb-3 mt-3">
                <label for="date">Fecha</label>
                <input required type="date" th:field="*{approvalDate}" class="form-control" id="date">
            </div>
            <div class="mb-3 mt-3">
                <label for="details">Detalles:</label>
                <textarea th:field="*{details}" class="form-control" rows="5" maxlength=200 id="details" name="details"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <button type="reset" class="btn btn-secondary">Limpiar</button>
        </form>
    </div>
</body>
</html>