<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sueldo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div th:replace="fragments/navigation :: navigation"></div>
    <div class="container mt-5 mb-5">
        <h5 class="fw-bold mb-2">Planillas de sueldo</h5>
        <div th:if="${void}">
            <div class="text-danger" th:text="${message}"></div>
        </div>
        <div th:switch="${void}">
            <div th:case="true">No existen sueldos registrados.</div>
            <div th:case="false">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Categoría</th>
                        <th>Años de servicio</th>
                        <th>Sueldo fijo mensual</th>
                        <th>Bono años de servicio</th>
                        <th>Bono horas extras</th>
                        <th>Descuentos atrasos</th>
                        <th>Descuentos inasistencias</th>
                        <th>Sueldo Bruto</th>
                        <th>Cotización previsional</th>
                        <th>Cotización salud</th>
                        <th>Sueldo Líquido</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="wage:${wages}">
                        <td th:text="${wage.employee.rut}"></td>
                        <td th:text="${wage.employee.name}"></td>
                        <td th:text="${wage.employee.category}"></td>
                        <td th:text="${wage.employee.serviceYears}"></td>
                        <td th:text="${wage.detail[0].getAmount()}"></td>
                        <td th:text="${wage.detail[1].getAmount()}"></td>
                        <td th:text="${wage.detail[2].getAmount()}"></td>
                        <td th:text="${wage.detail[3].getAmount()}"></td>
                        <td th:text="${wage.detail[4].getAmount()}"></td>
                        <td th:text="${wage.detail[5].getAmount()}"></td>
                        <td th:text="${wage.detail[6].getAmount()}"></td>
                        <td th:text="${wage.detail[7].getAmount()}"></td>
                        <td th:text="${wage.detail[8].getAmount()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>